*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}


body{

  font-family:
  Arial,
  "Noto Sans SC",
  sans-serif;

  min-height:100vh;

  background:
  linear-gradient(
    135deg,
    #7b0000,
    #c1121f,
    #f4c542
  );

  color:white;

}


.home{

  min-height:100vh;

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  text-align:center;

  padding:30px;

}


/* Logo */

.home h1{

  font-size:70px;

  font-weight:900;

  animation:
  show 1s ease;

}


.home h2{

  margin-top:20px;

  font-size:40px;

}


.home p{

  margin-top:20px;

  font-size:22px;

  opacity:.9;

}


/* Menu */

.menu{

  margin-top:50px;

  display:flex;

  gap:20px;

  flex-wrap:wrap;

  justify-content:center;

}


.menu button{

  padding:18px 35px;

  border:none;

  border-radius:40px;

  font-size:18px;

  font-weight:bold;

  cursor:pointer;

  background:white;

  color:#9b0000;

  transition:.3s;

}


.menu button:hover{

  transform:
  translateY(-8px)
  scale(1.05);

  background:#ffd54f;

}


/* Animation */

@keyframes show{

from{

opacity:0;

transform:
translateY(50px);

}


to{

opacity:1;

transform:
translateY(0);

}

}



/* Mobile */

@media(max-width:600px){

.home h1{

font-size:45px;

}


.home h2{

font-size:28px;

}


.home p{

font-size:17px;

}


}
