*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Poppins,sans-serif;

background:#f3f7fb;

color:#1e293b;

padding-bottom:90px;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

background:white;

box-shadow:0 5px 15px rgba(0,0,0,.08);

position:sticky;

top:0;

}

.logo{

font-size:24px;

font-weight:bold;

color:#2563eb;

}

.hero{

padding:30px;

text-align:center;

}

.hero h1{

font-size:35px;

margin-bottom:10px;

}

.hero p{

color:gray;

margin-bottom:20px;

}

input{

width:100%;

max-width:500px;

padding:15px;

border-radius:15px;

border:none;

font-size:18px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.progress{

padding:20px;

}

.card{

background:white;

border-radius:20px;

padding:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

margin-bottom:20px;

text-align:center;

}

.bar{

height:12px;

background:#ddd;

border-radius:20px;

overflow:hidden;

margin:15px 0;

}

.fill{

height:100%;

width:70%;

background:#22c55e;

}

.levels{

padding:20px;

}

.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(140px,1fr));

gap:20px;

margin-top:20px;

}

.lesson{

background:white;

padding:30px;

border-radius:18px;

cursor:pointer;

transition:.3s;

box-shadow:0 8px 20px rgba(0,0,0,.08);

font-size:22px;

font-weight:600;

}

.lesson:hover{

transform:translateY(-8px);

background:#2563eb;

color:white;

}

.flashcard{

padding:20px;

}

.flashcard h1{

font-size:50px;

margin-bottom:10px;

}

.flashcard h2{

color:#2563eb;

margin-bottom:15px;

}

button{

padding:14px 22px;

margin:10px;

border:none;

border-radius:12px;

background:#2563eb;

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

nav{

position:fixed;

bottom:0;

left:0;

width:100%;

display:flex;

justify-content:space-around;

padding:12px;

background:white;

box-shadow:0 -5px 20px rgba(0,0,0,.1);

}

nav button{

background:none;

font-size:28px;

color:#2563eb;

  }
